@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.container {
  @apply px-8 max-w-[1200px] mx-auto;
}

.cinema-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap between seats as needed */
}

.seat-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
}

.user-page-layout{
  @apply border rounded-lg my-2 w-full h-fit min-h-[600px]
}

.seat {
  height: 30px; /* Adjust seat height as needed */
  background-color: #eaeaea; /* Set the seat color */
}

.occupied {
  background-color: #ff0000; /* Set the color for occupied seats */
}